:root {
  --main-title-color: #212121;
  --logo-color: #212121;
  --header-nav-color: #212121;
  --second-btn-color: #212121;
  --accent-color: #2196f3;
  --background-section: #2f303a;
  --background-body: #ffffff;
  --main-body-color: #757575;
  --header-contact-color: #757575;
  --product-text-color: #757575;
  --adress-footer-color: rgba(255, 255, 255, 0.6);
  --second-background-color: #f5f4fa;
  --footer-logo-color: #ffffff;
  --address-text-color: #ffffff;
  --second-title-color: #ffffff;
  --main-btn-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: 'Roboto', Tahoma, sans-serif;
  color: var(--main-body-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--background-body);
}
/* -----------------------------------------------глобальні класи----------------------------------------------------------------------------- */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.nav {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-nav-color);
}

.contact {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contact-color);
}

.addres-footer {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--adress-footer-color);
}

.title-studio {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
  cursor: pointer;
}

/* ---------------------------------------------------------Футер--------------------------------------------------------------------------- */

.header-logo {
  font-family: 'Raleway', Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.header-logo-web,
.footer-logo-web {
  color: var(--accent-color);
}

/* .header-logo:focus,
.header-logo:hover,
.footer-logo:focus,
.footer-logo:hover {
  color: var(--accent-color);
} */

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.header-link-mail:hover,
.header-link-mail:focus,
.header-link-tel:hover,
.header-link-tel:focus {
  color: var(--accent-color);
}
.navigation-list .navigation-link.current {
  color: var(--accent-color);
}

/* -------------------------------------------------Секція Hero Студія---------------------------------------------------------------------- */
.hero {
  background-color: var(--background-section);
}

.hero-title {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.hero-btn-order {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-btn-order:hover,
.hero-btn-order:focus {
  background-color: var(--main-title-color);
}
/* -------------------------------------------------------Секція Наші переваги-------------------------------------------------------------- */

.features-title {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.features-text {
  font-family: inherit;
  line-height: 1.71;
}

/* -------------------------------------------------------Секція Наша команда---------------------------------------------------------------- */
.team {
  background-color: var(--second-background-color);
}

.team-list-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team-list-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ---------------------------------------------------------------Футер--------------------------------------------------------------------- */

.footer {
  background-color: var(--background-section);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--footer-logo-color);
}

.address-text {
  color: var(--address-text-color);
}

.address-text:hover,
.address-text:focus,
.address-link-mail:hover,
.address-link-mail:focus,
.address-link-tel:hover,
.address-link-tel:focus {
  color: var(--accent-color);
}

/* ------------------------------------------------------------------Секція Hero Портфорліо-------------------------------------------------- */
.hero-btn-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
  background-color: var(--second-background-color);
  cursor: pointer;
}

.hero-btn-filter:hover,
.hero-btn-filter:focus {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
}

.product-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.product-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--product-text-color);
}
